[commit]
	gpgsign = true
[user]
	signingkey = "~/.ssh/id_ed25519"
	name = Chahat
	email = chahat@disroot.org
[gpg]
	format = ssh
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	autoSetupRemote = true
	default = simple
[pull]
	rebase = true
[rebase]
	autostash = true
	autosquash = true
[rerere]
	enabled = true
[column]
	ui = auto
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = nvim -d "$LOCAL" "$REMOTE"
[merge]
	tool = nvimdiff
	conflictstyle = zdiff3
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "nvimdiff"]
	cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE"
[alias]
	st = status -sb
	co = checkout
	cob = checkout -b
	br = branch
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ci = commit
	unstage = restore --staged
	wip = !git add -A && git commit -m 'WIP'
	cleanup = !git branch --merged main | grep -v main | xargs git branch -d
	recent = branch --sort=-committerdate --format='%(committerdate:relative)%09%(refname:short)'
	fixup = commit --fixup

# Use different email for work repos (uncomment and adjust path)
# [includeIf "gitdir:~/work/"]
#	path = ~/.config/git/work
